<mat-expansion-panel>
        <mat-expansion-panel-header>
                <mat-panel-title>
                        {{move.name}}
                </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group>
                <mat-tab *ngFor="let version of move.versions" label="{{version.name}}">
                        <div fxLayout="row wrap" fxLayoutGap="0rem" fxLayoutAlign="flex-start">
                                        <div *ngIf="version.active">
                                            Active : {{version.active}}
                                        </div>
                                        <div *ngIf="version.duration">
                                            Duration : {{version.duration}}
                                        </div>
                                        <div *ngIf="version.baseDamage">
                                            <label>Base damage: </label>
                                            {{version.baseDamage}}
                                        </div>
                                        <div *ngIf="version.landingLag">
                                            <label>Landing lag: </label>
                                            {{version.landingLag}}
                                        </div>
                                        <div *ngIf="version.notes">
                                            <label>Notes : </label>
                                            {{version.notes}}
                                        </div>
                                        <div *ngIf="version.shieldLag">
                                            <label>Shield Lag : </label>
                                            {{version.shieldLag}}
                                        </div>
                                        <div *ngIf="version.shieldStun">
                                            <label>Shield Stun : </label>
                                            {{version.shieldStun}}
                                        </div>
                                        <div *ngIf="version.startup">
                                            <label>Startup : </label>
                                            {{version.startup}}
                                        </div>
                                        <div *ngIf="version.totalFrames">
                                            <label>Total Frames : </label>
                                            {{version.totalFrames}}
                                        </div>
                                        <div *ngIf="version.whichHitbox">
                                            <label>Hitboxes: </label>
                                            {{version.whichHitbox}}
                                        </div>
                        </div>
                </mat-tab>
        </mat-tab-group>
</mat-expansion-panel>
<!--
<mat-card fxFlex="1 1 auto" class="m-2 p-3">
    <mat-card-title>
        {{move.name}}
    </mat-card-title>
    <mat-card-subtitle>
        <div *ngIf="move.advantage">
            Advantage : {{move.advantage}}
        </div>
    </mat-card-subtitle>
   <mat-card-content class="">
        <div *ngIf="move.baseDamage">
            <label>Base damage: </label>
            {{move.baseDamage}}
        </div>
        <div *ngIf="move.landingLag">
            <label>Landing lag: </label>
            {{move.landingLag}}
        </div>
        <div *ngIf="move.notes">
            <label>Notes : </label>
            {{move.notes}}
        </div>
        <div *ngIf="move.shieldLag">
            <label>Shield Lag : </label>
            {{move.shieldLag}}
        </div>
        <div *ngIf="move.shieldStun">
            <label>Shield Stun : </label>
            {{move.shieldStun}}
        </div>
        <div *ngIf="move.startup">
            <label>Startup : </label>
            {{move.startup}}
        </div>
        <div *ngIf="move.totalFrames">
            <label>Total Frames : </label>
            {{move.totalFrames}}
        </div>
        <div *ngIf="move.whichHitbox">
            <label>Hitboxes: </label>
            {{move.whichHitbox}}
        </div>
    </mat-card-content>
</mat-card>
-->