

<div class="row mx-1 mb-2 mt-2">
    <button type="button" class="btn col btn-outline-primary" (click)="grab = !grab"
        [attr.aria-expanded]="!grab" aria-controls="grabCollapse">
    Grabs
    </button>
</div>
<div>
    <div class="row ml-2 mb-2" id="grabs" [ngbCollapse]="!grab">
        <div class="col-3-md" *ngFor="let move of grabs">
            <app-move-detail [move]=move></app-move-detail>
        </div>
    </div>
</div>

<div class="row mx-1 mb-2">
    <button type="button" class="btn col btn-outline-primary" (click)="dodge = !dodge"
        [attr.aria-expanded]="!dodge" aria-controls="dodgeCollapse">
    Dodges
    </button>
</div>
<div>
    <div class="row ml-1 mb-2" id="dodges" [ngbCollapse]="!dodge">
        <div class="col-3-md" *ngFor="let move of dodges">
            <app-move-detail [move]=move></app-move-detail>
        </div>
    </div>
</div>