<mat-accordion *ngIf="character">
  <mat-card>
    <mat-card-title>
      {{character.name}}
    </mat-card-title>
  </mat-card>
  <app-move-list [moves]="character.moves"></app-move-list>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Stats
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
          <mat-card-content class="border border-primary" >
            <mat-list>
            <div *ngFor="let item of character | keyvalue">
              <div class="row" *ngIf="item.key | characterProperties">
                <div *ngIf="item.key != 'name'">
                  <label class="text-justify mx-1 col">{{item.key | characterProperties}} : {{item.value}}</label>
                </div>
              </div>
            </div>
            </mat-list>
          </mat-card-content>
    </mat-card>
    </mat-expansion-panel>
</mat-accordion>