<div *ngIf="version.active">
  <label>Active : </label>
  {{ version.active }}
</div>
<div *ngIf="version.duration">
  <label>Duration : </label>
  {{ version.duration }}
</div>
<div *ngIf="version.baseDamage">
  <label>Base Damage : </label>
  {{ version.baseDamage }}
</div>
<div *ngIf="version.shieldStun">
  <label>Shield Stun : </label>
  {{ version.shieldStun }}
</div>
<div *ngIf="version.landingLag">
  <label>Landing Lag : </label>
  {{ version.landingLag }}
</div>
<div *ngIf="version.landingLagFrames">
  <label>Landing Lag Frames : </label>
  {{ version.landingLagFrames }}
</div>
<div *ngIf="version.intangible">
  <label>Intangible : </label>
  {{ version.intangible }}
</div>
<div *ngIf="version.intangibleMaxPenalty">
  <label>Intangible Max Penalty : </label>
  {{ version.intangibleMaxPenalty }}
</div>
<div *ngIf="version.durationMaxPenalty">
  <label>Duration Max Penalty : </label>
  {{ version.durationMaxPenalty }}
</div>
<div *ngIf="version.comment">
  <label>Comment : </label>
  {{ version.comment }}
</div>
