<h1>
    About
</h1>
<p>
    This data is just a mirror of data from <a href="https://www.ultimateframedata.com">ultimateframedata.com</a>, 
    I did not gather any of the data other than scraping that website.
    GET methods are accessible from <a href="/swagger"> the documented API endpoints</a> other sites if you want to write another frontent, but the rest of the API is restricted so the data remains intact.
</p>
<p>    
    Contact me at cade.schlaefli(at)gmail(dot)com if you have any corrections, want to contribute, or have any questions.
</p>