<h1>
    About
</h1>
<p>
    This data is just a mirror of data from <a href="https://www.ultimateframedata.com">ultimateframedata.com</a>,
    made availiable through an API with a simple frontend.<br/>
    I did not gather this data, it is scraped from ultimateframedata using a series of simple python scripts you can find in the root of the <a href="https://github.com/Cschlaefli/smash-api">api's github.</a>
    API methods are documented <a href="/swagger">here</a> (with the root url cade.schlaefli.dev) but only GET requests for non-auth methods cross site enabled for security reasons.
</p>
<p>
    The code for this frontend is availiable <a href="https://github.com/Cschlaefli/angular-smash">here</a>, and the api is avaliable <a href="https://github.com/Cschlaefli/smash-api">here.</a>

    I've also done a couple game jams with a small team you can check out <a href="https://cschlaefli.itch.io/">here</a>
</p>
<p>
    Contact me at cade.schlaefli(at)gmail(dot)com if you have any corrections, questions, comments, jobs, or want to contribute.
</p>
