<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-expand navbar-dark bg-dark ml-auto">
    <a class="navbar-brand nav-link" routerLink="/character-list">Ultimate Frame Data</a>
    <div class="nav navbar-nav ml-auto">
      <a class="nav-item nav-link " routerLink="/login" *ngIf="!currentUser">Login</a>
      <a class="nav-item nav-link " (click)="logout()" *ngIf="currentUser">Logout</a>
    </div>
  </nav>
</div>

<div class= "mat-app-background basic-container" style="height:100%;">
<router-outlet></router-outlet>
</div>