<div style="text-align:center">
  <mat-toolbar class="mat-toolbar mat-primary">
    <a class="mr-1" style="color: white" routerLink="/character-list">Ultimate Frame Data</a>
    <a class="ml-3" style="color: whitesmoke; font-size:1rem" href="/swagger">API docs</a>
    <a class="ml-3" style="color: whitesmoke; font-size:1rem" routerLink="/about">About</a>
    
    <div class="ml-auto">
      <a style="color : grey" routerLink="/login" *ngIf="!currentUser">Login</a>
      <a style="color : grey " (click)="logout()" *ngIf="currentUser">Logout</a>
    </div>
  </mat-toolbar>
</div>

<div class= "basic-container" style="height:100%;">
<router-outlet></router-outlet>
<alert></alert>
</div>