
        <button mat-button class="btn btn-primary float-right mx-4 my-3" (click)="list.toggle()">
           Toggle List
        </button>
<mat-sidenav-container class="container fluid" style="height:90%;top:10%" >
    <mat-sidenav-content class="sidenav-flex">

        <div class="col" >
            <app-character-detail [character]="selectedCharacter"></app-character-detail>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #list opened [(opened)]="opened" mode="side" position="end" >
        <div (click)="onSelect(character)" class="p-2 h3 mb-2 border border-primary" *ngFor="let character of characters">
            {{characters.indexOf(character)+1}}. {{character.name}}
        </div>
    </mat-sidenav>
</mat-sidenav-container>